body {
  margin: 0;
  background-color: #795548;
}

.parallax-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.parallax-container.alt {
  background-color: #B71C1C;
}

.parallax-item {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-item img {
  max-width: 100%;
  max-height: 100%;
}
