:root {
  --scenePerspective: 2;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 2;
  --cameraSpeed: 300;
  --cameraZ: 15;
  --viewportHeight: 0;
}

@media only screen and (max-width: 600px) {
  :root {
    --scenePerspective: 0.5;
  }
}
.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 45%;
  }
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div:nth-child(2n) {
    left: 15%;
  }
  .viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
    right: 15%;
  }
}
.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0%;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 0%;
}
.viewport .scene3D-container .scene3D > div:nth-child(0) {
  transform: translate3D(-23%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(1) {
  transform: translate3D(8%, 23%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(2) {
  transform: translate3D(-10%, 9%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(3) {
  transform: translate3D(3%, -34%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(4) {
  transform: translate3D(-14%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(5) {
  transform: translate3D(-13%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(6) {
  transform: translate3D(-7%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(7) {
  transform: translate3D(-20%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(8) {
  transform: translate3D(-11%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(9) {
  transform: translate3D(13%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(10) {
  transform: translate3D(-3%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(11) {
  transform: translate3D(4%, 29%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(12) {
  transform: translate3D(13%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(13) {
  transform: translate3D(-21%, -19%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(14) {
  transform: translate3D(4%, -3%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(15) {
  transform: translate3D(16%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(16) {
  transform: translate3D(12%, 24%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(17) {
  transform: translate3D(25%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(18) {
  transform: translate3D(-23%, 0%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(19) {
  transform: translate3D(10%, 26%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(20) {
  transform: translate3D(-19%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(21) {
  transform: translate3D(-7%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(22) {
  transform: translate3D(15%, 19%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(23) {
  transform: translate3D(-9%, -23%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(24) {
  transform: translate3D(-2%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(25) {
  transform: translate3D(22%, 23%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(26) {
  transform: translate3D(10%, -23%, calc(var(--itemZ) * var(--cameraSpeed) * 26 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(27) {
  transform: translate3D(17%, -32%, calc(var(--itemZ) * var(--cameraSpeed) * 27 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(28) {
  transform: translate3D(16%, -18%, calc(var(--itemZ) * var(--cameraSpeed) * 28 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(29) {
  transform: translate3D(17%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 29 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(30) {
  transform: translate3D(19%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 30 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(31) {
  transform: translate3D(10%, -24%, calc(var(--itemZ) * var(--cameraSpeed) * 31 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(32) {
  transform: translate3D(16%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 32 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(33) {
  transform: translate3D(19%, -12%, calc(var(--itemZ) * var(--cameraSpeed) * 33 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(34) {
  transform: translate3D(-11%, 26%, calc(var(--itemZ) * var(--cameraSpeed) * 34 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(35) {
  transform: translate3D(3%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 35 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(36) {
  transform: translate3D(10%, -34%, calc(var(--itemZ) * var(--cameraSpeed) * 36 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(37) {
  transform: translate3D(-16%, 6%, calc(var(--itemZ) * var(--cameraSpeed) * 37 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(38) {
  transform: translate3D(-14%, -17%, calc(var(--itemZ) * var(--cameraSpeed) * 38 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(39) {
  transform: translate3D(13%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 39 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(40) {
  transform: translate3D(9%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 40 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(41) {
  transform: translate3D(-15%, 9%, calc(var(--itemZ) * var(--cameraSpeed) * 41 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(42) {
  transform: translate3D(-15%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 42 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(43) {
  transform: translate3D(7%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 43 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(44) {
  transform: translate3D(-17%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 44 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(45) {
  transform: translate3D(-7%, -32%, calc(var(--itemZ) * var(--cameraSpeed) * 45 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(46) {
  transform: translate3D(21%, 19%, calc(var(--itemZ) * var(--cameraSpeed) * 46 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(47) {
  transform: translate3D(25%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 47 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(48) {
  transform: translate3D(14%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 48 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(49) {
  transform: translate3D(-11%, -34%, calc(var(--itemZ) * var(--cameraSpeed) * 49 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(50) {
  transform: translate3D(-10%, 17%, calc(var(--itemZ) * var(--cameraSpeed) * 50 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(51) {
  transform: translate3D(-19%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 51 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(52) {
  transform: translate3D(11%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 52 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(53) {
  transform: translate3D(6%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 53 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(54) {
  transform: translate3D(7%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 54 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(55) {
  transform: translate3D(2%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 55 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(56) {
  transform: translate3D(-6%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 56 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(57) {
  transform: translate3D(10%, -28%, calc(var(--itemZ) * var(--cameraSpeed) * 57 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(58) {
  transform: translate3D(-16%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 58 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(59) {
  transform: translate3D(-3%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 59 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(60) {
  transform: translate3D(-6%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 60 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(61) {
  transform: translate3D(-17%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 61 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(62) {
  transform: translate3D(-7%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 62 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(63) {
  transform: translate3D(-8%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 63 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(64) {
  transform: translate3D(-10%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 64 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(65) {
  transform: translate3D(-10%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 65 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(66) {
  transform: translate3D(-6%, 21%, calc(var(--itemZ) * var(--cameraSpeed) * 66 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(67) {
  transform: translate3D(-3%, 11%, calc(var(--itemZ) * var(--cameraSpeed) * 67 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(68) {
  transform: translate3D(-5%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 68 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(69) {
  transform: translate3D(23%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 69 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(70) {
  transform: translate3D(12%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 70 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(71) {
  transform: translate3D(-10%, -30%, calc(var(--itemZ) * var(--cameraSpeed) * 71 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(72) {
  transform: translate3D(21%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 72 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(73) {
  transform: translate3D(22%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 73 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(74) {
  transform: translate3D(11%, -30%, calc(var(--itemZ) * var(--cameraSpeed) * 74 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(75) {
  transform: translate3D(22%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 75 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(76) {
  transform: translate3D(6%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 76 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(77) {
  transform: translate3D(-21%, 19%, calc(var(--itemZ) * var(--cameraSpeed) * 77 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(78) {
  transform: translate3D(22%, 35%, calc(var(--itemZ) * var(--cameraSpeed) * 78 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(79) {
  transform: translate3D(-22%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 79 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(80) {
  transform: translate3D(12%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 80 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(81) {
  transform: translate3D(-15%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 81 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(82) {
  transform: translate3D(18%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 82 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(83) {
  transform: translate3D(5%, 32%, calc(var(--itemZ) * var(--cameraSpeed) * 83 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(84) {
  transform: translate3D(23%, 29%, calc(var(--itemZ) * var(--cameraSpeed) * 84 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(85) {
  transform: translate3D(-5%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 85 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(86) {
  transform: translate3D(-21%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 86 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(87) {
  transform: translate3D(20%, 11%, calc(var(--itemZ) * var(--cameraSpeed) * 87 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(88) {
  transform: translate3D(-20%, 11%, calc(var(--itemZ) * var(--cameraSpeed) * 88 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(89) {
  transform: translate3D(25%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 89 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(90) {
  transform: translate3D(-9%, -24%, calc(var(--itemZ) * var(--cameraSpeed) * 90 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(91) {
  transform: translate3D(-9%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 91 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(92) {
  transform: translate3D(10%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 92 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(93) {
  transform: translate3D(-22%, 24%, calc(var(--itemZ) * var(--cameraSpeed) * 93 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(94) {
  transform: translate3D(-11%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 94 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(95) {
  transform: translate3D(15%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 95 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(96) {
  transform: translate3D(24%, 16%, calc(var(--itemZ) * var(--cameraSpeed) * 96 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(97) {
  transform: translate3D(-18%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 97 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(98) {
  transform: translate3D(-24%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 98 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(99) {
  transform: translate3D(-10%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 99 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(100) {
  transform: translate3D(4%, -33%, calc(var(--itemZ) * var(--cameraSpeed) * 100 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(101) {
  transform: translate3D(10%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 101 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(102) {
  transform: translate3D(-17%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 102 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(103) {
  transform: translate3D(-15%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 103 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(104) {
  transform: translate3D(-15%, -20%, calc(var(--itemZ) * var(--cameraSpeed) * 104 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(105) {
  transform: translate3D(-3%, 17%, calc(var(--itemZ) * var(--cameraSpeed) * 105 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(106) {
  transform: translate3D(-17%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 106 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(107) {
  transform: translate3D(11%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 107 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(108) {
  transform: translate3D(2%, -18%, calc(var(--itemZ) * var(--cameraSpeed) * 108 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(109) {
  transform: translate3D(-8%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 109 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(110) {
  transform: translate3D(12%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 110 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(111) {
  transform: translate3D(-1%, -28%, calc(var(--itemZ) * var(--cameraSpeed) * 111 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(112) {
  transform: translate3D(4%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 112 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(113) {
  transform: translate3D(-7%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 113 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(114) {
  transform: translate3D(9%, -32%, calc(var(--itemZ) * var(--cameraSpeed) * 114 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(115) {
  transform: translate3D(-19%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 115 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(116) {
  transform: translate3D(-12%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 116 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(117) {
  transform: translate3D(11%, 15%, calc(var(--itemZ) * var(--cameraSpeed) * 117 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(118) {
  transform: translate3D(-15%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 118 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(119) {
  transform: translate3D(-12%, -20%, calc(var(--itemZ) * var(--cameraSpeed) * 119 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(120) {
  transform: translate3D(14%, -2%, calc(var(--itemZ) * var(--cameraSpeed) * 120 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(121) {
  transform: translate3D(-23%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 121 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(122) {
  transform: translate3D(23%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 122 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(123) {
  transform: translate3D(17%, -29%, calc(var(--itemZ) * var(--cameraSpeed) * 123 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(124) {
  transform: translate3D(8%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 124 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(125) {
  transform: translate3D(-19%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 125 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(126) {
  transform: translate3D(-18%, 17%, calc(var(--itemZ) * var(--cameraSpeed) * 126 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(127) {
  transform: translate3D(-16%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 127 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(128) {
  transform: translate3D(9%, 22%, calc(var(--itemZ) * var(--cameraSpeed) * 128 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(129) {
  transform: translate3D(-15%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 129 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(130) {
  transform: translate3D(21%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 130 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(131) {
  transform: translate3D(-23%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 131 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(132) {
  transform: translate3D(0%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 132 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(133) {
  transform: translate3D(2%, -8%, calc(var(--itemZ) * var(--cameraSpeed) * 133 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(134) {
  transform: translate3D(16%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 134 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(135) {
  transform: translate3D(14%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 135 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(136) {
  transform: translate3D(-2%, -24%, calc(var(--itemZ) * var(--cameraSpeed) * 136 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(137) {
  transform: translate3D(-14%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 137 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(138) {
  transform: translate3D(-15%, 7%, calc(var(--itemZ) * var(--cameraSpeed) * 138 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(139) {
  transform: translate3D(22%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 139 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(140) {
  transform: translate3D(20%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 140 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(141) {
  transform: translate3D(-21%, -19%, calc(var(--itemZ) * var(--cameraSpeed) * 141 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(142) {
  transform: translate3D(-9%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 142 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(143) {
  transform: translate3D(10%, 34%, calc(var(--itemZ) * var(--cameraSpeed) * 143 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(144) {
  transform: translate3D(-2%, -34%, calc(var(--itemZ) * var(--cameraSpeed) * 144 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(145) {
  transform: translate3D(5%, 17%, calc(var(--itemZ) * var(--cameraSpeed) * 145 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(146) {
  transform: translate3D(-15%, -32%, calc(var(--itemZ) * var(--cameraSpeed) * 146 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(147) {
  transform: translate3D(-24%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 147 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(148) {
  transform: translate3D(2%, 31%, calc(var(--itemZ) * var(--cameraSpeed) * 148 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(149) {
  transform: translate3D(-16%, -21%, calc(var(--itemZ) * var(--cameraSpeed) * 149 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(150) {
  transform: translate3D(-15%, -11%, calc(var(--itemZ) * var(--cameraSpeed) * 150 * -1px));
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #272935;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 1.5em;
  color: white;
  margin: 0;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  text-align: center;
}
h1 .logo {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.link {
  color: white;
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.scene3D > div {
  padding: 2rem;
}
.scene3D > div h2 {
  margin-top: 0;
  font-family: "Manrope", sans serif;
  font-size: 1.5em;
}
.scene3D > div:nth-child(n) {
  background-color: white;
  border-radius: 20px;
  max-width: 600px;
}
